<div class="row">
  <div class="col-xs-4 item-photo">
      <img style="max-width:100%;" src="<%= @product.image %>" />
  </div>
  <div class="col-xs-5" style="border:0px solid gray">
      <h3><%= @product.title %></h3>
      <h6 class="title-price"><small>PRICE</small></h6>
      <h3 style="margin-top:0px;">$<%= @product.price %></h3>
        <%= simple_form_for @order do |f| %>
          <div class='form-group'>
            <%= f.input :quanlity, input_html: { class: 'form-control' } %>
          </div>
          <div class='form-group'>
            <%= f.input :order, input_html: { class: 'form-control' } %>
          </div>
            <%= f.input :product_id, label: false, input_html: { value: params[:id], type: 'hidden' }%>
            <%= f.input :cart_id, label: false, input_html: { value: @cart.id, type: 'hidden' }%>
          <div class='form-group'>
              <%= f.button :submit, class:"btn btn-success form-control" %>
          </div>
        <% end %>
    </div>
</div>
