<!DOCTYPE html>
<html>
  <head>
    <title>AppCart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  </head>

  <body>
    <div class="container">
      <%=link_to('Home', root_url, class:'btn btn-info') %>
      <%=link_to('My history', '/histories/index', class:'btn btn-info') %> 
      <%= link_to('My account', edit_user_registration_path(current_user), class:'btn btn-info') if current_user.present? %>
      <% if @cart.present? %>
        <%=link_to('My cart', cart_path(@cart)) %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= link_to('My account', edit_user_registration_path(current_user), class:'btn btn-info') if current_user.present? %>
  </body>
</html>
